@import "../../../../styles/general/colors";

.breadcrumb {
  width: 100%;
  height: 4rem;
  border-bottom: .1rem solid $color-veryLight-grey;
  position: fixed;
  margin-left: 20rem;
  margin-top: 5rem; // the breadcrumb is moved due to the top bar
  top: 0;
  display: inline-flex;
  align-items: center;
  padding: 0 3rem;

  p {
    color: $color-medium-grey;
  }
}
