<div class="side-navigation">
  <a
    class="side-navigation__title"
    routerLink="/inbox"
    routerLinkActive="">
    <div class="pathfinder">
      <button>
        <svg class="nav-icon">
          <use [attr.xlink:href]="[icons.inboxIcon]" [ngClass]="{'svg-fill': true}"></use>
        </svg>
      </button>
      <p>Inbox</p>
    </div>
  </a>
  <div class="side-navigation__separator"></div>

  <a
    class="side-navigation__title"
    routerLink="/projects"
    routerLinkActive="">
    <div class="pathfinder">
      <button>
        <svg class="nav-icon">
          <use [attr.xlink:href]="[icons.projectsIcon]" [ngClass]="{'svg-fill': true}"></use>
        </svg>
      </button>
      <p>Projects</p>
    </div>
    <button class="collapse-trigger">
      <svg
        class="arrow-icon"
        [ngClass]="{'arrow-icon__rotate': collapsibleState === 1}"
        (click)="toggleCollapsible(1)">
        <use [attr.xlink:href]="[icons.arrowIcon]" [ngClass]="{'svg-fill__l-Grey': true}"></use>
      </svg>
    </button>
  </a>
  <div class="side-navigation__collapsible" [ngClass]="{'collapsible-visible': collapsibleState === 1}">
    <div class="side-navigation__collapsible__subtitle">
      <a><p>My projects</p></a>
    </div>
    <div class="side-navigation__collapsible__subtitle">
      <a><p>Active projects</p></a>
    </div>
    <div class="side-navigation__collapsible__subtitle">
      <a><p>Completed projects</p></a>
    </div>
    <div class="side-navigation__collapsible__subtitle">
      <a><p>Create new project</p></a>
    </div>
  </div>

  <a
    class="side-navigation__title"
    routerLink="/users"
    routerLinkActive="">
    <div class="pathfinder">
      <button class="collapse-trigger">
        <svg class="nav-icon">
          <use [attr.xlink:href]="[icons.usersIcon]" [ngClass]="{'svg-fill': true}"></use>
        </svg>
      </button>
      <p>Users</p>
    </div>
    <button class="collapse-trigger">
      <svg
        class="arrow-icon"
        [ngClass]="{'arrow-icon__rotate': collapsibleState === 2}"
        (click)="toggleCollapsible(2)">
        <use [attr.xlink:href]="[icons.arrowIcon]" [ngClass]="{'svg-fill__l-Grey': true}"></use>
      </svg>
    </button>
  </a>
  <div class="side-navigation__collapsible" [ngClass]="{'collapsible-visible': collapsibleState === 2}">
    <div class="side-navigation__collapsible__subtitle">
      <a><p>All users</p></a>
    </div>
    <div class="side-navigation__collapsible__subtitle">
      <a><p>My profile</p></a>
    </div>
    <div class="side-navigation__collapsible__subtitle">
      <a><p>Add new user</p></a>
    </div>
  </div>

  <div class="side-navigation__separator"></div>

  <a
    class="side-navigation__title"
    routerLink="/settings"
    routerLinkActive="">
    <div class="pathfinder">
      <button>
        <svg class="nav-icon">
          <use [attr.xlink:href]="[icons.settingsIcon]" [ngClass]="{'svg-fill': true}"></use>
        </svg>
      </button>
      <p>Settings</p>
    </div>
  </a>
</div>
