@import "../../../../styles/general/colors";

.sub-navigation {
  background-color: $color-veryLight-grey;
  width: 15rem;
  height: calc(100vh - 9rem); // the height is moved due the top bar and breadcrumb
  margin-top: 4rem;
}
