@import "../../../../styles/general/colors";

.side-filter {
  background-color: $color-darker-white;
  border-right: 0.1rem solid #DADCE1;
  width: 17rem;
  height: calc(100vh - 9rem); // the height is moved due the top bar and breadcrumb
  padding: 2rem;
  position: fixed;

  &__entry {
    padding-bottom: 1rem;
    color: $color-mediumDark-grey;


  }
  .highlightText {
    //color: $color-darkest-grey;
    font-weight: 900;
  }
}
