<div class="login">
  <div class="login__background"></div>
  <div class="login__header">
    <img class="login-logo" src="../../../../assets/wd-track-logo.png" alt="wd-track-logo">
    <div class="login-quote">
      <h3 class="header3__m">Don't be intimidated by what you don't know"</h3>
      <p class="par2__s">- Sara Blakely</p>
    </div>
    <img class="illustration" src="../../../../assets/side-img-header-1.png" alt="illustration">
  </div>
  <div class="login__form">
    <form action="">
      <h3 class="header2__m">User login</h3>
      <div class="login__form__credentials">
        <label for="email"></label>
        <input type="email" id="email" placeholder="Email.." required="">
        <label for="password"></label>
        <input type="password" id="password" placeholder="Password.." required="">
      </div>
      <div class="login__form__settings">
        <div class="login__form__settings__checkbox">
          <input class="input-checkbox" type="checkbox" id="rememberPassword" name="rememberPassword">
          <label class="par2__s" for="rememberPassword">Remember your password</label>
        </div>
        <a><p class="par2__s">Forgot your password?</p></a>
      </div>
      <button class="login__form__button__login" type="submit">Login</button>
      <p class="par2__s">Or</p>
      <div class="login__form__button__google" id="my-signin2"></div>
    </form>
  </div>
</div>
