@import "./colors";

/* Reset */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
/********************************/
/******* Custom checkbox ********/

input[type='checkbox'] {
  width: 1.5rem;
  height: 1.5rem;
  background: $color-white;
  border-radius: 5rem;
  border: .1rem solid $color-medium-grey;
  margin-right: .5rem;

  &:checked {
    background-color: $tertiary-color-blue;
    border: .4rem solid $color-white;
    -webkit-box-shadow: 0 0 0 .1rem $tertiary-color-blue;
    -moz-box-shadow: 0 0 0 .1rem $tertiary-color-blue;
    box-shadow: 0 0 0 .1rem $tertiary-color-blue;
  }
}


