/* Reset */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-top-style: none !important;
  border-right-style: none !important;
  border-left-style: none !important;
}

