@import "./colors";

app-my-projects,
app-active-projects,
app-completed-projects,
app-inbox {
  display: flex;
  flex-direction: row;
}

.main-view {
  width: calc(100% - 17rem);
  padding: 3rem 5rem;
  margin-left: 17rem;

  &__header {
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;

    &__headline {
      h1 {
        color: $color-dark-grey;
        padding-bottom: 1rem;
      }

      p {
        color: $color-medium-grey;
      }
    }

    &__buttons {

    }
  }
}
