/* EXAMPLE OF THE NAMING
elementName__weight, regular weight is by default
__m = medium
__t = thin
__sm = semibold
..etc
 */

.header3__m {
  font-size: 3rem;
  font-weight: 500;
}

.header2__m {
  font-size: 2rem;
  font-weight: 500;
}

.par1__s {

}

.par2__s {
  font-size: 1.2rem;
  font-weight: 400;
}

.par3__s {
  font-size: 1.3rem;
  font-weight: 400;
}
